.content {
    /* margin: 0.5rem; */
}

.content img {
    width: 100%;
}

.content h1 {
    margin-top: 1.2rem;
    font-weight: 800;
    font-size: 43px;
}

.content p {
    margin: 1rem 0;
}

.content button {
    background-color: var(--softred);
    padding: 1rem 1.2rem;
    border: none;
    color: var(--offwhite);
    letter-spacing: 0.2rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-bottom: 2.7rem;
}