.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 1rem;
}

.header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.header button img {
    height: 100%;
}

.w-logo {
    font-weight: 800;
    font-size: 35px;
}

/* Open navigation on mobile screen */
.nav-container {
    background-color: hsl(240, 100%, 5%, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    transition: left 1s;
}

nav {
    position: absolute;
    background-color: var(--offwhite);
    height: 100vh;
    width: 70%;
    left: 30%;
    display: flex;
    flex-direction: column;
}

.close-icon-container {
    margin: 2rem;
    align-self: end;
}

nav ul {
    padding: 0;
    margin: 1.5rem;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}