.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 1rem;
}

.header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.header button img {
    height: 100%;
}

.w-logo {
    font-weight: 800;
    font-size: 35px;
}

/* Open navigation on mobile screen */
.nav-container {
    background-color: hsl(240, 100%, 5%, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
}

nav {
    position: absolute;
    transition: left 0.25s;
    background-color: var(--offwhite);
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.close-icon-container {
    margin: 2rem;
    align-self: end;
}

ul {
    padding: 0;
    margin: 1.5rem;
}

li {
    list-style-type: none;
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    font-weight: 500;
}

li:hover {
    color: var(--softorange);
}

@media screen and (min-width: 770px) {
    .header {
        margin: 1.5rem 0;
    }

    .w-logo {
        font-size: 45px;
    }

    .header button {
        display: none;
    }

    .nav-container {
        background-color: initial;
        position: initial;
        width: initial;
        height: initial;
    }

    nav {
        position: initial;
        height: initial;
        width: initial;
        display: initial;
    }

    .close-icon-container {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    nav ul li {
        margin: 0 0 0 2rem;
        font-size: 1.4rem;
    }
}