html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  /* Primary colors */
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  /* Neutral colors */
  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

body {
  background-color: var(--offwhite);
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen';
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

p {
  color: var(--darkgrayishblue);
  line-height: 1.5rem;
}